.post--comments {
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  animation: slideIn 0.5s ease;
}

.comment:last-child {
  margin-bottom: 0;
}

.comment--user {
  font-weight: bold;
  color: #39ac92;
}

.comment--text {
  flex-grow: 1;
  color: #333;
}

.comment--input {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.comment--input input {
  flex-grow: 1;
  padding: 12px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  transition: border-color 0.2s ease;
}

.comment--input input::placeholder {
  color: #888;
}

.comment--input button.comment-btn {
  padding: 12px 24px;
  border-radius: 20px;
  margin: 5px 10px;
  border: none;
  background-color: #39ac92;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
