/* Messages.css */

/* General styles for chat layout */

.chat {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px auto;
}

.chat--sidebar {
  width: 300px;
  padding: 10px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message--detail {
  flex-grow: 1;
}

.message--title {
  font-weight: bold;
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}

.message--content {
  color: #555;
  font-size: 14px;
}

.message p {
  font-size: 12px;
  color: #888;
  margin: 0;
}

/* Chat section */

.chat-container {
  /* background-color: #f0f0f0; */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.message-list {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


.chat-message {
  padding: 10px;
  width: fit-content;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for user one's messages on the right */

.chat-message-user-one {
  background-color: #39ac92; 
  color: #fff; 
  align-self: flex-end;
}

.chat-message-user-one .message img {
  order: 2;
}

.chat-message-user-one .message--detail {
  order: 1;
}

.chat-message-you {
  background-color: #eee;
  color: #333; 
  align-self: flex-start;
}

.chat-message-you .message img {
  order: 1;
}

.chat-message-you .message--detail {
  order: 2;
}

/* Chat input styles */

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.chat-input button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #39ac92; 
  color: #fff; 
  cursor: pointer;
}
