/* Styles for the post container */
.post--container {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* Styles for the top section */
.post--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.post--top img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.top--left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top--left span {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.post--content img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

/* Styles for the footer section */
.post--footer {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* Styles for the left part of the footer */
.post--footer_left {
  width: 100%;
  display: flex;
  padding: 10px;
  gap: 10px;
}

/* Styles for the heart icon */
.post--footer_left svg:first-child {
  width: 30px;
  height: 30px;
  fill: #ff6347;
  cursor: pointer;
}

/* Styles for the comment icon */
.post--footer_left svg:last-child {
  width: 30px;
  height: 30px;
  fill: #39ac92;
  cursor: pointer;
}

/* Styles for the right part of the footer */
.post--footer_right {
  display: flex;
  gap: 10px;
}

/* Styles for the bookmark icon */
.post--footer_right svg {
  width: 30px;
  height: 30px;
  fill: #999;
  cursor: pointer;
}
