
.post--container {
  width: 100%;
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.15);
}

.post--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.post--top img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.top--left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top--left span {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.post--content img {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.post--footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /* border-top: 1px solid #ccc; */
}

.post--footer_left {
  display: flex;
  gap: 10px;
}

.post--footer_left svg,
.post--footer_right svg {
  width: 30px;
  height: 30px;
}



/* Comment section styles */

.post--comments {
  margin-top: 20px;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
}

.comment {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  animation: slideIn 0.5s ease;
}

.comment:last-child {
  margin-bottom: 0; 
}

.comment--user {
  font-weight: bold;
  color: #39ac92;
}

.comment--text {
  flex-grow: 1;
  color: #333;
}

.comment--input {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.comment--input input {
  flex-grow: 1;
  padding: 12px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  color: #333;
  transition: border-color 0.2s ease;
}

.comment--input input::placeholder {
  color: #888;
}

.comment--input button.comment-btn {
  padding: 12px 24px;
  border-radius: 20px;
  margin: 5px 10px;
  border: none;
  background-color: #39ac92;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}