.sidebar {
  width: 250px;
  margin:15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.15);
  /* border-right: 1px solid #ccc; */

}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: black;
  margin: auto;
  padding: 10px 20px;
  display: block;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar li {
  margin: 10px;
}

.link:hover {
  color: #fff;
  background-color: #333;
}
